{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": ["eslint:recommended", "plugin:jest/recommended", "plugin:@typescript-eslint/recommended"],
    "rules": {
      // Enforcing
      "indent": [
        "error",
        2,
        {"SwitchCase": 1}
      ],
      "linebreak-style": ["off"],
      "quotes": [
        "error",
        "single"
      ],
      "semi": "off",
      "@typescript-eslint/semi": ["error"],
      "no-extra-semi": "off",
      "@typescript-eslint/no-extra-semi": ["error"],
      "no-bitwise": ["error"],
      "camelcase": ["off"],
      "eqeqeq": ["error"],
      "wrap-iife": ["error"],
      "no-use-before-define": ["off"],
      "no-caller": ["error"],
      "no-new": ["error"],
      "no-plusplus": ["off"],
      "no-undef": ["off"],
      "no-unused-vars": ["off"],
      "max-len": ["error", 120],
      "no-var": 1,
      "@typescript-eslint/no-empty-interface": ["off"],
      "@typescript-eslint/no-unused-vars": ["off"],
      "@typescript-eslint/explicit-module-boundary-types": ["off"],
      "no-case-declarations": "off",
      "@typescript-eslint/no-explicit-any": ["error"],
      "jest/expect-expect": "off"
    },
    "plugins": [
      "jest",
      "@typescript-eslint"
    ]
}